* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #fff;
  color: #222;
}


.header-bar {
  background-color: #eeec70;
  padding: 10px 20px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.home-icon {
  width: 30px; 
}

.corner-icon {
  height: 45px;
  border-radius: 50%;
}


.shop-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.shop-banner-box {
  width: 50%;
  height: 500px;
  border: 3px dashed #eeec70;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fffef2;
}

.shop-banner-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}


.shop-name {
  text-align: center;
  padding: 20px;
}


.recommend {
  text-align: center;
  padding: 40px 10%;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.menu-card {
  background-color: #fdfdfd;
  border: 2px solid #eeec70;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.menu-card h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.menu-card .price {
  color: #c42c2c;
  font-weight: bold;
}


.special-deal {
  width: 60%;
  margin: 60px auto;
  background-color: #fff3f3;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.special-deal h3 {
  color: #d12f2f;
  margin-bottom: 10px;
}

.deal-img {
  width: 180px;
  height: 180px;
  object-fit: contain;
}


.footer {
  background-color: #eaffdd;
  text-align: center;
  padding: 30px 20px;
  border-top: 1px solid #ddd;
}

.footer h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer p {
  color: #444;
  font-size: 14px;
}


.section.category {
  position: relative;
  text-align: center;
  padding: 80px 20px;
  overflow: hidden;
  background-color: #fffaf5; 
}

.section.category::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  background: url("../source/bg-shadow.png") center/contain no-repeat;
  opacity: 0.25;
  transform: translate(-50%, -50%);
  z-index: -1; 
  filter: blur(3px); 
}
