header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 40px);
  border-bottom: 1px solid #ccc;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo {
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: #333;
  font-size: clamp(1rem, 1.5vw,1.2rem);
}

.logo:hover {
  color: #eee;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

header nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size:  clamp(0.9rem, 1vw, 1rem);
}

header nav a:hover {
  text-decoration: underline;
}

.logo-img {
  width: clamp(30px, 5vw, 40px);         
  height: clamp(30px, 5vw, 40px);
  object-fit: contain; 
  vertical-align: middle;
  transition: 0.2s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.1);  
  filter: brightness(0.8);
}

.corner-icon {
  font-size: clamp(1rem, 2vw, 1.5em);
  height: clamp(30px,6vw,50px);
  border-radius: 20px;
}