* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  background: #fefefe;
  color: #222;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #ccc;
  background: white;
  position: sticky;
  top: 0;
}

header .logo {
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: #333;
}

.logo:hover {
  color: #eee;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

header nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

.logo-img {
  width: 40px;         
  height: 40px;
  object-fit: contain; 
  vertical-align: middle;
  transition: 0.2s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.1);  
  filter: brightness(0.8);
}

.corner-icon {
  font-size: 1.5em;
  height: 50px;
  border-radius: 20px;
}


.main {
  text-align: center;
  padding: 100px 20px;
  background-image: url("../source/market.webp"); 
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
  color: white; 
  position: relative;
}

.main::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3); 
}

.main .content {
  position: relative;
  z-index: 1;
}

.main h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.main p {
  font-size: 1.2em;
  color: #fff; 
}


.work {
  text-align: center;
  padding: 60px 20px;
  border-top: 1px solid #eee;
}

.work h2 {
  font-size: 1.5em;
  color: #333;
}

.staff {
  padding: 50px 0;
  text-align: center;
  border-top: 1px solid #eee;
}

.staff h2 {
  margin-bottom: 20px;
}

.staff-container {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px;
  gap: 20px;
}

.staff-container::-webkit-scrollbar {
  height: 8px;
}

.staff-container::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 10px;
}

.card {
  flex: 0 0 180px;
  height: 220px;
  border-radius: 10px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-top: 1px solid #ccc;
  background: #fafafa;
}

footer a {
  color: #007aff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}