@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Lilita+One&family=Paytone+One&family=Ultra&display=swap');
body {
    font-family: 'Prompt', sans-serif;
    background-color: #eefcff;
    color: #333;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b2ecfa;
    padding: 12px 24px;
    border-bottom: 2px solid #5ca0e0;
    border-radius: 0px 0px 16px 16px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header .home {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
header .nav-center {
    font-family: "Ultra", serif;
    letter-spacing: .5px;
    font-size: 28px;
    color: #ffffff;
    -webkit-text-stroke-color: #5ca0e0;
    -webkit-text-stroke-width: 0.5px;
    text-shadow: 2px 2px #5ca0e0;
}
header .nav-right {
    font-size: 0.9rem;
    color: #666;
}
.logo-img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    vertical-align: middle;
    transition: 0.2s ease-in-out;
}
.logo-img:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}
.corner-icon {
    font-size: 1.5em;
    height: 50px;
    border-radius: 20px;
}
.store-header {
    text-align: center;
    padding: 30px 10px;
}
.store-header img {
    max-width: 30%;
    border-radius: 16px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.store-header h1 {
    margin-top: 20px;
    color: #5ca0e0;
}
.store-header .desc {
    color: #666;
    margin-top: 5px;
}

/* PROMOTION */
.promotion {
    width: 60%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.promotion:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 14px #9eedff;
}

.deal-text-content {
    display: flex;
    flex-direction: column;
}

.promotion h3 {
    font-size: 24px;
    color: #5ca0e0;
    margin-bottom: 10px;
}

.promotion ul {
    justify-items: center;
    line-height: 1.8;
    padding-left: 0;
}

/* RECOMMEND MENU */
.recommend-menu {
    margin: 40px auto;
}

.recommend-menu h2 {
    text-align: center;
    color: #5ca0e0;
    padding-bottom: 5px;
}

.menu-grid {
    display: flex;
    gap: 25px;
    margin: 25px;
    padding: 10px 10px 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.menu-item{
    padding: 15px;
    background-color: #eefcff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.menu-item:hover{
    transform: translateY(-5px);
    box-shadow: 0 6px 14px #9eedff;
}

.menu-item img{
    width: 220px;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    overflow: cover; 
}

.menu-item p {
    font-weight: bolder;
    text-align: center;
    margin-top: 8px;
    color: #555;
}

/* TOPPING */
.topping {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    margin: 40px auto;
    max-width: 900px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.topping h2 {
    text-align: center;
    color: #5ca0e0;
    padding-bottom: 5px;
}

.topping-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    margin-top: 20px;
}

.topping-item img {
    height: 150px;
    width: 150px;
    border: 2px solid #5ca0e0;
    border-radius: 50%;
    cursor: pointer;
}

.topping-item img:hover{
    transform: scale(1.05);
}

.topping-item p {
    text-align: center;
    margin-top: 8px;
    color: #555;
}

/* CONTACT */
.contact {
    width: 60%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.contact:hover{
    transform: scale(1.05);
}

.contact-content h2{
    text-align: center;
    color: #5ca0e0;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: clamp(10px, 3vw, 20px) clamp(20px, 4vw, 40px);
  border-top: 1px solid #ccc;
  background: #fafafa;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
}

footer a {
  color: #007aff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}