header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(10px, 2vw, 15px) clamp(20px, 4vw, 40px);
  border-bottom: 1px solid #ccc;
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .logo {
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  color: #333;
  font-size: clamp(1rem, 1.5vw,1.2rem);
}

.logo:hover {
  color: #eee;
  font-size: 17px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

header nav a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size:  clamp(0.9rem, 1vw, 1rem);
}

header nav a:hover {
  text-decoration: underline;
}

.logo-img {
  width: clamp(30px, 5vw, 40px);         
  height: clamp(30px, 5vw, 40px);
  object-fit: contain; 
  vertical-align: middle;
  transition: 0.2s ease-in-out;
}

.logo-img:hover {
  transform: scale(1.1);  
  filter: brightness(0.8);
}

.corner-icon {
  font-size: clamp(1rem, 2vw, 1.5em);
  height: clamp(30px,6vw,50px);
  border-radius: 20px;
}

.shop-image { 
    width: 100%; 
    height: 200px; 
    background: #eee; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 1.2em; 
    margin-bottom: 20px; 
}

.section { 
    padding: 0 30px; 
}

.recommend-menu { 
    display: flex; 
    gap: 20px; 
    margin-bottom: 20px; 
}

.menu-large { 
    flex: 2; 
    background: #fafafa; 
    border: 1px solid #ccc; 
    height: 120px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    
}

.menu-small-group { 
    flex: 1; 
    display: flex; 
    flex-direction: column; 
    gap: 10px; 
}

.menu-small { 
    background: #fafafa; 
    border: 1px solid #ccc; 
    height: 55px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.promotion { 
    background: #f9f9f9; 
    border: 1px solid #aaa; 
    border-radius: 10px;
    padding: 15px; 
    margin-bottom: 20px; 
}

.footer {
  background: linear-gradient(90deg, #ffffff, #ffffff);
  color: #000000;
  text-align: center;
  padding: 24px 16px 16px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -4px 10px rgba(0,0,0,0.1);
  font-family: "Prompt", "Noto Sans Thai", sans-serif;
  position: relative;
}

.footer-content p {
  margin: 6px 0;
  font-size: 15px;
}

.footer-content a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
}

.footer-content a:hover {
  text-shadow: 0 0 8px rgba(255,255,255,0.8);
}

.footer-bottom {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.9;
}